<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="injured_one in injured" ng-click="accidentCtrl.injuredSelect(injured_one)" ng-class="{'bg-success': injured_one.id == injuredSelected.id}">
                    <td>{{injured_one.status}}</td>
                    <td>{{injured_one.name}}</td>
                    <td>{{injured_one.age}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-controller="UserUtilsController as userUtilsCtrl" ng-show="userUtilsCtrl.isOperator()">
                <button ng-click="accidentCtrl.setVisible()" >Register new injured one</button>
            </div>
            <div ng-show="accidentCtrl.isAddMenuVisible()" class="col-md-offset-3 col-md-6">
                <div class="cell">
                    <div class="input-groud">
                        <input ng-model="name" class="input" placeholder="Full Name"/>
                    </div>
                    <div class="input-groud">
                        <input ng-model="age" class="input" placeholder="Age"/>
                    </div>
                    <div class="input-groud">
                        <input ng-model="insurance" class="input" placeholder="Insurance Number"/>
                    </div>
                    <select class="form-control" ng-model="gender">
                        <option disabled="disabled" selected="selected" value="">Choose gender</option>
                        <option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</option>
                    </select>
                    <div class="col-md-offset-3 col-md-6">
                        <button class="btn btn-primary" ng-click="accidentCtrl.registerInjured()" ng-enter="accidentCtrl.registerInjured()">Register Injured</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
