<div ng-controller="UserUtilsController as userUtilsCtrl">
    <div class="row" ng-show="userUtilsCtrl.isOperator()">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-offset-3 col-md-6">
                <div class="cell">
                    <div class="input-groud">
                        <span>Full Name</span>
                        <input ng-model="name" class="input" placeholder="{{injured.name}}"/>
                    </div>
                    <div class="input-groud">
                        <div>Age</div>
                        <input ng-model="age" class="input" placeholder="{{injured.age}}"/>
                    </div>
                    <div class="input-groud">
                        <span>Insurance Number</span>
                        <input ng-model="insurance" class="input" placeholder="{{injured.insurance}}"/>
                    </div>
                    <select class="form-control" ng-model="gender">
                        <option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</option>
                    </select>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Medic login</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="medic in medics" ng-click="injuredCtrl.medicSelect(medic)" ng-class="{'bg-success': medic.id == medicIdSelected}">
                            <td>{{medic.login}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-offset-3 col-md-6">
                        <button class="btn btn-primary" ng-click="injuredCtrl.updateInjured()" ng-enter="injuredCtrl.updateInjured()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="userUtilsCtrl.isMedic()">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>{{injured.name}}</th>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{injured.age}}</td>
                </tr>
                <tr>
                    <td>Insurance</td>
                    <td>{{injured.insurance}}</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-offset-3 col-md-6" ng-show="injuredCtrl.isNew()">
                <button class="btn btn-primary" ng-click="injuredCtrl.accept()" ng-show="injuredCtrl.isNew()">Accept</button>
            </div>
            <div ng-show="!injuredCtrl.isNew()">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Health update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="healthUpdate in healthUpdates">
                        <td>{{healthUpdate.text}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="injuredCtrl.isOnMedication()">
                    <div class="form-group">
                        <textarea type="text" class="form-control" ng-model="update" placeholder="New Health update text..."></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="injuredCtrl.registerUpdate(update)" ng-enter="injuredCtrl.registerUpdate(update)">Register a health update</button>
                        <button class="btn btn-primary" ng-click="injuredCtrl.discharge()" ng-enter="injuredCtrl.discharge()">Discharge</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="userUtilsCtrl.isRegular()">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>{{injured.name}}</th>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{injured.age}}</td>
                </tr>
                <tr>
                    <td>Insurance</td>
                    <td>{{injured.insurance}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Health update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="healthUpdate in healthUpdates">
                        <td>{{healthUpdate.text}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
