<div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" ng-model="login" placeholder="Login">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" ng-model="passwd" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <button class="btn btn-primary" ng-click="loginCtrl.signIn()" ng-enter="loginCtrl.signIn()">Sign In</button>
                        <button class="btn btn-secondary" ng-click="loginCtrl.isRegister = true;">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-show="loginCtrl.isRegister">
        <div class="col-md-offset-3 col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" ng-model="loginReg" placeholder="Login">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" ng-model="password1" placeholder="Password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" ng-model="password2" placeholder="Repeat password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-wrench"></span></span>
                <select class="form-control" ng-model="userType">
                    <option disabled="disabled" selected="selected" value="">Choose your destiny</option>
                    <option ng-repeat="type in userTypes" value="{{type}}">{{type}}</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button class="btn btn-primary" ng-click="loginCtrl.registerUser()" ng-enter="loginCtrl.registerUser()">Register user</button>
                </div>
            </div>
        </div>
    </div>
</div>
