<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div>VIN: {{subCtrl.instance.vin}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="accident in accidents" ng-click="subCtrl.accidentSelect(accident)" ng-class="{'bg-success': accident.id == accidentSelected.id}">
                    <td>{{accident.status}}</td>
                    <td>{{accident.request.timeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button ng-click="subCtrl.unsubscribe()">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>
