<div>
    <div class="row" ng-show="userCtrl.isOperator()">
        <div class="col-md-offset-1 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>VIN</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="request in requests" ng-click="userCtrl.requestSelect(request)" ng-class="{'bg-success': request.id == requestSelected.id}">
                    <td>{{request.status}}</td>
                    <td>{{request.vin}}</td>
                    <td>{{request.timeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button ng-click="userCtrl.acceptRequest()" ng-disabled="requestSelected == undefined || requestSelected.status != 'NEW'">Accept</button>
                <button ng-click="userCtrl.declineRequest()" ng-disabled="requestSelected == undefined || requestSelected.status != 'NEW'">Decline</button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="userCtrl.isMedic()">
        <div class="col-md-offset-1 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="injured_one in injured" ng-click="userCtrl.injuredSelect(injured_one)" ng-class="{'bg-success': injured_one.id == injuredSelected.id}">
                    <td>{{injured_one.status}}</td>
                    <td>{{injured_one.name}}</td>
                    <td>{{injured_one.age}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="userCtrl.isRegular()">
        <div class="col-md-offset-1 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Vin</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subscription in subscriptions" ng-click="userCtrl.subscriptionSelect(subscription)" ng-class="{'bg-success': subscription.id == subscriptionSelected.id}">
                    <td>{{subscription.vin}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="form-group">
                    <textarea type="text" class="form-control" ng-model="subscription" placeholder="VIN of a car you'd like to monitor"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="userCtrl.addSubscription()" ng-enter="userCtrl.addSubscription()">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
